* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

main {
    background-image: url(Weather.jpg);
    width: 100%;
    height: 100vh;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    /* vertically */
    justify-content: center;
    /* horizontally */
    width: 1000px;
    margin: 10px;
    font-size: 40px;
    color: #1c1714;
}

#search {
    font-size: 38px;
    padding: 23px;
    border-radius: 64px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #1c1714 ;
    background-color: #b99d87;
    color: #1c1714;
}